.container {
    background:    rgba(151, 206, 255, 0.56);
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 900px;
    overflow: hidden;
}

.ground{
    background: #75947e;
    z-index: 5;
    width: 100%;

    height: 49%;

    margin-top: auto;
}

.sky{
    height: 51%;
    background: linear-gradient(to top, #F8F9C5 , #F8BB6C , #CF6940, rgb(75, 35, 26),rgb(10, 8, 8));
    animation: sky_animation 10s ease infinite;
    background-size: 400% 400%;
}

@keyframes sky_animation {
    0% {
        background-position: 50% 0%
    }
    50% {
        background-position: 50% 100%
    }
    100% {
        background-position: 50% 0%
    }
}
.sun {
    background-color: rgba(254, 254, 254, 0.6);

    width: 100px;

    height: 100px;

    border-radius: 100%;

    position: absolute;

    top: 44%;

    box-shadow: 0 0 43px 13px #fff7f1e6;

    left: 50%;
}