.modal {
    margin: 30vh auto;
}

.background {
    background: rgba(20, 20, 30, 0.77);
    position: absolute;
    top: 0;
    left: 0;
    width:  100vw;
    height: 100vh;
    display: flex;

    transition: all 2s ease;
}
