<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Введите Ваше имя</h1>
    <form action="/register" method="post" name="registerForm">
        <label>Имя</label><br>
        <input type="text" name="userName" /><br><br>
        <input type="submit" value="Отправить" />
    </form>
    <script>
        document.querySelector("form").addEventListener("submit", (event) => {  
            event.preventDefault();
            const registerForm = document.forms["registerForm"];
            const userName = registerForm.elements["userName"].value;
            const url = '/users';   //Выбрать из routes
            fetch(url, {  
                method: 'post',  
                body: JSON.stringify({userName: userName}), //Отправляемый JSON
            }) 
            .then(response => response.json())
            .then((data) => console.log(data)) //Обрабатываем пришедшие данные
            .catch( (error) => console.log('Request failed', JSON.parse(error)));
        });
    </script>
</body>
<html>
