<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Введите данные</h1>
    <form action="/register" method="post" name="registerForm">
        <label>Имя</label></br>
        <input type="text" name="userName" /></br></br>
        <input type="submit" value="Отправить" />
    </form>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script>
        $("form").submit(function(e) {
             
            e.preventDefault();
            let registerForm = document.forms["registerForm"];
            let userName = registerForm.elements["userName"].value;
            
             
            $.ajax({
                type: "POST",
                url: "/users",
                data: JSON.stringify({userName: userName}),
                dataType: "json",
                contentType: "application/json",
                success: function(data){ 
                    console.log(data);
                    },
                });
        });
    </script>
</body>
<html>
