.app {
    background: #2c4647;
    width: 80vw;
    min-width: 500px;
    margin: 0 auto;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

body {
    background: #311f22;

}

.content {
    display: flex;
    min-height: 500px;
}

.leftPanel{
    width: 220px
}

.header {

}

body {
    font-family: sans-serif;
}

.connectBtn {
    background: rebeccapurple;
}